*{
    font-family: Arial, sans-serif;
    background-color: #8b5e34;
}
h1{
    text-align: center;
    font-size: 40px;
    padding-top: 5px ;

}
dt{
    background-color: #bc8a5f;;
    padding: 10px;
    font-size: 17px;
    text-indent: 5px;
    font-weight: 500;

}
dd{
    background-color: #e7bc91;
    padding: 15px;
    font-weight: 500;
    font-size: 17px;
}

div{
    text-align: center;
    padding: 40px 0px 30px 0px;
    font-size: 30px;
    background-color: #f3d5b5;;
    margin: 8px 0px 0px 0px;
}
a{
    background-color: #f3d5b5;
    color: #6f4518;
    font-weight: 900;
    font-style: oblique;
}
sub{
    background-color: #f3d5b5;
    font-weight: none;
    font-size: 16px;
    
}

